* {
    box-sizing: border-box;
    margin: 0;
    size: 10px 10px 10px 10px;
    padding: 0;
}

body {
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 15px;
}

header {
    background-color: #000000;
    color: #ffffff;
    height: 100px;
    padding: 10px;
}

header h1 {
    font-family: helvetica, arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

header h1 p {
    color: green;
    float:right;
}
header h2 {
    font-family: helvetica, arial, sans-serif;
    font-size: 15px;
    font-weight: 100;
}
header h2 aside {
    float: right;
    
}
header h3 {
    font-family: helvetica, arial, sans-serif;
    font-size: 10px;
    font-weight: 100;
}

p {
}

nav {
    float: right;
    margin: 12px 12px 12px 12px;   
}
header a {
    color:#aaaaaa;   
    margin-right: 4px;
    text-decoration: inherit;
    padding-top:10px;
}
header aside {
    float: right;
    color: white;
    padding-top:
}

header a:link {}
header a:visited {}
header a:hover {
    color: #ffffff;   
}
header a:active {
    text-decoration: underline;
}


article {
    clear: both; 
    height: 500px;
    width: auto;
}

article img {
    height: 500px;
    width: 300px;
}
article nav {
    width: 100px;
    height: 500px;
    line-height: 90px;
    font-family: arial, times new roman, sans-serif;
    font-weight: 800;
    align-content: center;
}

footer {
    background-color: #000000;
    color: #ffffff;
    height: 100px;
    padding:inherit;
    line-height: 20px;
    font-size: 10px;  
}

footer p {
    float:right;
}