* {
    box-sizing: border-box;
    margin: 0;
    size: 10px 10px 10px 10px;
    padding: 0;
}

body {
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 15px;
}
/* HEADING RULES */
header {
    background-color: #262626;
    color: #8CA680;
    height: 100px;
    padding: 10px;
}

header h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 30px;
    font-weight: 500;
}

header h1 p {
    color: #8CA680;
    text-decoration:underline;
    float:right;
    font-size: 15px;
}
header h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    font-weight: 100;
}
header h2 aside {
    float: right;
    
}
header h3 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    font-weight: 100;
}
/*HEADER LINKS*/
header a {  
    margin-right: 4px;
    text-decoration: inherit;
    padding-top:10px;
}
header aside {
    float: right;
}
/* BODY RULES */
article {
    clear: both; 
    height: 500px;
    padding: 0px;
    column-fill: auto;
    background-color:#8CA680;
}

article img {
    height: 500px;
    width: 25%;
    margin: 0 0 20% 10px;
}
article nav {
    float: right;
    height: 100%;
    width: 20%;
    line-height: 90px;
    padding: 0 40px 5% 40px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 500;
    font-size: 20px ;
    background-color: #262626;
}
article a:link {
    color: #CAD9B4;
    text-decoration: none;
}
article a:visited {
    color: #F2F2F2;
    
}
article a:hover {
    color: #ffffff;   
}
article a:active {
    text-decoration: none;
}

/* FOOTER RULES */
footer {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #262626;
    color: #8CA680;
    height: 50px;
    padding-right:10px;
    line-height: 20px;
    font-size: 10px;  
}
footer a:link {
    color: #CAD9B4;
}
footer a:visited {
 color: #F2F2F2;
}
footer a:hover {
    color: #ffffff;   
}
footer a:active {
    text-decoration: underline;
}
footer p {
    float:right;
}